.title {
  display: grid;
  place-content: center;
  width: 75px;
  height: 75px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.tile .chess-piece {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.white-tile {
  background-color: #ebecd0;
}

.black-tile {
  background-color: #779556;
}

.title img {
  width: 80px;
}
